/* E0FFFF - light cyan
0071C5 - intel Blue
1E2952 - space-cadet */
:root {
  --light-cyan: #e0ffff;
  --intel-blue: #0071c5;
  --space-cadet: #1e2952;
  --font-color: lightcyan;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
}

section {
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
nav {
  padding: 10px 1rem;
}
ul.light {
  --font-color: lightcyan;
}
ul {
  --font-color: var(--space-cadet);
  display: flex;
  list-style-type: none;
  align-items: center;
}
li a {
  text-decoration: none;
  color: var(--font-color);
  margin: 0 5px;
  display: inline-flex;
  height: 40px;
  align-items: center;
  padding: 0 10px;
}

.landing-page {
  background: linear-gradient(to bottom right, #0071c5, #7df9ff);
}
.short-advert {
  background: linear-gradient(to bottom right, white, #effeff, #7df9ff);
  color: var(--space-cadet);
  padding: 20px;
}

.top-story {
  width: 100%;
  height: 450px;
}
.top-story img {
  width: 100%;
  height: 100%;
  object-fit: 100% 100%;
  object-position: center;
}
.main-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.adsense img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.mini-section > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mini-section > div img {
  margin: 0 auto;
  height: 300px;
}
.mini-section div img.animate {
  animation: undulate 2000ms both infinite linear;
}
.intro-section {
  --font-color: lightcyan;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
}
.comment_container {
  font-size: 0.8em;
}
.comment_container img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid rgb(238, 238, 238);
  object-fit: cover;
  object-position: center;
}
.comment__form {
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}
.comment__form input {
  border: none;
  width: 70%;
  height: 2rem;
  border-bottom: 1px solid var(--space-cadet);
}
.comment__form form {
  flex-grow: 1;
}
.comment__form .cta {
  margin-top: 0.3rem;
  display: flex;
  gap: 10px;
}
.comment__heap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0 2rem 3rem;
}
.commenter {
  display: flex;
  gap: 10px;
}
.commenter__name a {
  font-weight: bold;
  color: var(--space-cadet);
}
.comment_container input:focus {
  outline: none;
  background-color: rgba(238, 238, 238, 0.322);
  border-width: 3px;
}

.intro-text h2 {
  font-size: 2.3em;
  margin-bottom: 1rem;
}
.intro-text {
  padding: 3rem;
  color: var(--font-color);
  line-height: 1.5;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.intro-text div {
  display: flex;
}
.intro-text .cta {
  display: inline-block;
  min-height: 35px;
  margin-top: 1.5rem;
  padding: 5px;
}
.cta a {
  color: var(--font-color);
}
.pic-art {
  display: grid;
  place-content: center;
}
.logo {
  height: 50px;
  cursor: pointer;
}
.newsletter {
  background-color: #273155;
  color: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.newsletter form {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.newsletter input {
  width: 20rem;
  padding: 5px;
}
.newsletter p {
  font-size: 0.8em;
}
.lower-footer {
  background-color: var(--space-cadet);
  color: lightcyan;
  display: flex;
  padding: 10px;
  font-size: 0.7em;
}
.lower-footer a {
  margin: 0 10px;
  color: lightcyan;
}
.search-form {
  margin: 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.search-form input {
  width: 12rem;
  /* height: 1.8rem; */
  padding-left: 5px;
  border: 1px solid var(--space-cadet);
}
.post_container {
  padding: 0 3rem;
  color: var(--space-cadet);
}
.post__title {
  text-align: center;
}
.post__author {
  margin: 1rem 0;
  display: flex;
  gap: 20px;
}
.post__author img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.post__body p {
  margin: 1rem 0;
  line-height: 1.9rem;
}
/*  ==============================================Utility Styles======================================== */
.container {
  width: 1080px;
  margin: 0 auto;
}
.jumbo-1 {
  font-size: 4em;
}
.jumbo-2 {
  font-size: 3em;
}
.jumbo-3 {
  font-size: 2em;
}
.jumbo-4 {
  font-size: 1.5em;
}
.right {
  margin-left: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mt-3 {
  margin-top: 3rem;
}
.m-1 {
  margin: 1rem;
}
.muted {
  color: lightgrey;
}
.text-right {
  text-align: right;
}
.smaller {
  font-size: smaller;
}
*[class^="outline-"] {
  transition: background-color 500ms linear;
}
.outline-light {
  border: 2px solid lightcyan;
  background-color: transparent;
  color: var(--font-color);
  padding: 5px;
}
.outline-light:hover {
  background-color: lightcyan;
  color: var(--intel-blue);
}
.outline-dark {
  border: 2px solid var(--space-cadet);
  background-color: transparent;
  color: var(--space-cadet);
  padding: 5px;
}
.outline-dark:hover {
  background-color: var(--space-cadet);
  color: lightcyan;
}
button.no-style {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: lightgrey;
  font-weight: bold;
}
button.no-style:hover {
  color: var(--space-cadet);
  transition: color 500ms linear;
}
.hide {
  display: none;
}
.pic-art.animate {
  animation: undulate 2000ms infinite linear both;
}

.shadow {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.07);
}

/* KeyFrames */
@keyframes undulate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0);
  }
}
