/* E0FFFF - light cyan
0071C5 - intel Blue
1E2952 - space-cadet */
:root {
  --light-cyan: #e0ffff;
  --intel-blue: #0071c5;
  --space-cadet: #1e2952;
  --font-color: lightcyan;
  --hover-color: rgb(166, 204, 204);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
}
section {
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--hover-color);
}
nav {
  padding: 10px 1rem;
}
ul.light {
  --font-color: lightcyan;
}
ul {
  --font-color: var(--space-cadet);
  display: flex;
  list-style-type: none;
  align-items: center;
}
li a {
  text-decoration: none;
  color: var(--font-color);
  margin: 0 5px;
  display: inline-flex;
  height: 40px;
  align-items: center;
  padding: 0 10px;
}
.dashboard {
  display: grid;
  grid-template-columns: 200px auto;
}
.crm {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 72px auto 37px;
}

.dashboard__list {
  --hover-color: var(--light-cyan);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);
  height: 100%;
}
.dashboard__item a {
  width: 100%;
  margin: 0;
}
.dashboard__item.active,
.dashboard__item:hover,
.dashboard__item a:hover {
  background: var(--space-cadet);
  --font-color: lightcyan;
}
.dashboard__content {
  --font-color: var(--space-cadet);
  padding: 10px;
  color: var(--font-color);
  background-color: whitesmoke;
}
.col {
  /* padding: 10px; */
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.14);
}
.dashboard__content .empty-content {
  background-color: inherit;
  text-align: center;
  margin-top: 3rem;
  box-shadow: none;
}
.empty-content button {
  margin-top: 1rem;
}

.landing-page {
  background: linear-gradient(to bottom right, #0071c5, #7df9ff);
}
.short-advert {
  background: linear-gradient(to bottom right, white, #effeff, #7df9ff);
  color: var(--space-cadet);
  padding: 20px;
}

.top-story {
  width: 100%;
  height: 450px;
}
.top-story img {
  width: 100%;
  height: 100%;
  object-fit: 100% 100%;
  object-position: center;
}
.main-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}
.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.blog_post {
  border: 1px solid rgba(0, 0, 0, 0.14);
  padding: 1rem;
  height: 400px;
}
.blog__body {
  height: 35%;
  overflow: hidden;
}
.adsense img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.mini-section > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mini-section > div img {
  margin: 0 auto;
  height: 300px;
}
.mini-section div img.animate {
  animation: undulate 2000ms both infinite linear;
}
.intro-section {
  --font-color: lightcyan;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
}
.comment_container {
  font-size: 0.8em;
}
.comment_container img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid rgb(238, 238, 238);
  object-fit: cover;
  object-position: center;
}
.comment__form {
  display: flex;
  gap: 10px;
  margin: 1rem 0;
}
.comment__form input {
  border: none;
  width: 70%;
  height: 2rem;
  border-bottom: 1px solid var(--space-cadet);
}
.comment__form form {
  flex-grow: 1;
}
.comment__form .cta {
  margin-top: 0.3rem;
  display: flex;
  gap: 10px;
}
.comment__heap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0 2rem 3rem;
}
.commenter {
  display: flex;
  gap: 10px;
}
.commenter__name a {
  font-weight: bold;
  color: var(--space-cadet);
}
.comment_container input:focus {
  outline: none;
  background-color: rgba(238, 238, 238, 0.322);
  border-width: 3px;
}
.cards {
  margin: 1rem 0;
  gap: 1rem;
  width: 100%;
  justify-content: space-evenly;
}
.card {
  --font-color: lightcyan;
  width: 30%;
  border: 1px solid lightgrey;
  color: var(--font-color);
  background-image: linear-gradient(
    to bottom right,
    var(--space-cadet),
    var(--space-cadet),
    var(--intel-blue)
  );
  border-radius: 0 30px 0 0;
}
.card__head {
  font-weight: bold;
  padding: 5px;
  text-align: left;
  font-size: 1.1em;
}
.card__body {
  text-align: right;
  padding: 10px;
}

.intro-text h2 {
  font-size: 2.3em;
  margin-bottom: 1rem;
}
.intro-text {
  padding: 3rem;
  color: var(--font-color);
  line-height: 1.5;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.intro-text div {
  display: flex;
}
.intro-text .cta {
  display: inline-block;
  min-height: 35px;
  margin-top: 1.5rem;
  padding: 5px;
}
.cta a {
  color: var(--font-color);
}
.pic-art {
  display: grid;
  place-content: center;
}
.logo {
  height: 50px;
  cursor: pointer;
}
.newsletter {
  background-color: #273155;
  color: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.newsletter form {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.newsletter input {
  width: 20rem;
  padding: 5px;
}
.newsletter p {
  font-size: 0.8em;
}
.lower-footer {
  background-color: var(--space-cadet);
  color: lightcyan;
  display: flex;
  padding: 10px;
  font-size: 0.7em;
}
.lower-footer a {
  margin: 0 10px;
  color: lightcyan;
}
.lower-footer a:hover {
  color: var(--hover-color);
}
.search-form {
  margin: 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.search-form input {
  width: 12rem;
  /* height: 1.8rem; */
  padding-left: 5px;
  border: 1px solid var(--space-cadet);
}
.post_container {
  padding: 0 3rem;
  color: var(--space-cadet);
}
.post__title {
  text-align: center;
}
.post__author {
  margin: 1rem 0;
  display: flex;
  gap: 20px;
}
.post__author img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.post__body p {
  margin: 1rem 0;
  line-height: 1.9rem;
}
.signUp {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 800px;
  height: 400px;
  /* border: 1px solid lightgrey; */
}
.signUp .bg_space-cadet {
  color: lightcyan;
  padding: 1rem;
}
.signUp .bg_space-cadet p {
  margin-top: 3rem;
}
.login {
  background-color: var(--space-cadet);
  background-blend-mode: soft-light;
}
.login form {
  --font-color: lightcyan;
  width: 300px;
  color: lightcyan;
}
.login p {
  font-size: 0.75em;
  margin: 5px 0;
}
.signUp__form a,
.login a {
  color: var(--font-color);
  font-weight: bold;
}
.signUp__form a:hover,
.login a:hover {
  text-decoration: underline;
}
.login button {
  margin: 15px auto;
  width: 100%;
}
.login form legend {
  font-size: 2.3em;
  margin-bottom: 1.5rem;
}
.signUp__form {
  height: 100%;
  position: relative;
  padding: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
  z-index: 1;
  color: var(--space-cadet);
}
.borderless-input legend {
  font-size: 1.2em;
  font-weight: bold;
}
.signUp__form p {
  color: #757b96;
  font-size: 0.75em;
}
.signUp__form:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 0 0 70vh rgba(255, 255, 255, 0.2);
  filter: blur(10px);
  margin: -20px;
  z-index: -1;
  background-image: inherit;
}
.borderless-input fieldset {
  border: none;
  margin-top: 0.5rem;
}
.signUp__alt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}
.signUp__alt button {
  color: var(--space-cadet);
  background: rgba(0, 0, 0, 0.07);
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.signUp__alt button:hover {
  background: rgba(255, 255, 255, 0.5);
}
.abstract-img {
  background-image: linear-gradient(to bottom right, #0071c5, #7df9ff);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.top {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.story {
  font-size: 0.7em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.story__item:hover {
  background-color: whitesmoke;
}
.story__item {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
.story__item a {
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.story__item a:hover
/*  ==============================================Utility Styles======================================== */
.container {
  width: 1080px;
  margin: 0 auto;
}
.borderless-input {
  --font-color: var(--space-cadet);
  display: flex;
  flex-direction: column;
}
.borderless-input input {
  width: 100%;
  height: 1.8rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--font-color);
  font-size: 0.8em;
  margin: 5px 0;
  color: var(--font-color);
}
.borderless-input input:focus {
  outline: none;
  border-bottom: 2px solid var(--font-color);
}
.bg_space-cadet {
  background-color: var(--space-cadet);
  color: lightcyan;
}
.fullscreen-center {
  height: 100vh;
  display: grid;
  place-content: center;
}
.jumbo-1 {
  font-size: 4em;
}
.jumbo-2 {
  font-size: 3em;
}
.jumbo-3 {
  font-size: 2em;
}
.jumbo-4 {
  font-size: 1.5em;
}
.flex {
  display: flex;
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.right {
  margin-left: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.p-1 {
  padding: 10px;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 3rem;
}
.m-1 {
  margin: 1rem;
}
.muted {
  color: lightgrey;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.smaller {
  font-size: smaller;
}
*[class^="outline-"] {
  transition: background-color 500ms linear;
}
.outline-light {
  border: 2px solid lightcyan;
  background-color: transparent;
  color: var(--font-color);
  padding: 5px;
}
.outline-light:hover {
  background-color: lightcyan;
  color: var(--intel-blue);
}
.outline-dark {
  border: 2px solid var(--space-cadet);
  background-color: transparent;
  color: var(--space-cadet);
  padding: 5px;
}
.outline-dark:hover {
  background-color: var(--space-cadet);
  color: lightcyan;
}
button.no-style {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: lightgrey;
  font-weight: bold;
}
button.no-style:hover {
  color: var(--space-cadet);
  transition: color 500ms linear;
}
.hide {
  display: none;
}
.pic-art.animate {
  animation: undulate 2000ms infinite linear both;
}
.mountain {
  background-image: url("/assets/IMG/mountain.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
}

.shadow {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.07);
}
.thumbnailx1 {
  height: 2.5rem;
  width: 2.5rem;
}
.thumbnailx200 {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}
.round {
  border-radius: 50%;
}
.gap-1 {
  gap: 1rem;
}

/* KeyFrames */
@keyframes undulate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0);
  }
}
